@import "variables.scss";

body {
  background-color: $background-color;
}

.navbar {
  /* background-color: aliceblue; */
  /* padding: 0px; */
  background-color: $navbar-color;
  border-bottom: 2px solid $navbar-border-color;
}

.bubble-list {
  overflow: auto;
  background-color: $bubble-list-color; 
  border: 2px solid $bubble-list-border-color;
  padding: 20px;
  border-radius: 10px;
}

.bubble {
  background-color: $bubble-color;
  border: 2px solid $bubble-border-color;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.pill {
  padding: 5px;
  border-radius: 10px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}



#root {
  position: fixed;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
}