
$primary-color: #BADA55;

$background-color: lighten($primary-color, 30%);

$navbar-color: darken($primary-color, 20%);
$navbar-border-color: darken($navbar-color, 20%);

$bubble-list-color: $primary-color;
$bubble-list-border-color: darken($bubble-list-color, 20%);

$bubble-color: rgb(240, 240, 240);
$bubble-border-color: darken($bubble-color, 20%);